#app {
  display: grid;
  grid-template-columns: 100px auto;
  grid-template-rows: auto;
  grid-template-areas: "sidebar content";

  Switch {
    .content {
      grid-area: content;
    }
  }

  a {
    color: grey;
    text-decoration: none;
    transition: 0.3s;

    &:visited {
      color: grey;
    }

    &:hover {
      color: rgb(19, 147, 233);
    }

    &:active {
      color: grey;
    }
  }
  
}

@media screen and (max-width: 960px) {
  #app {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: auto;
    grid-template-areas: "navigation" "content";

    Switch {
      .content {
        grid-area: content;
      }
    }
  }
}
