footer {
  flex: 1;
  height: 50px;

  background-color: rgb(217, 221, 223);
  display: grid;
  grid-template-columns: 10px 40px 100px auto 100px 20px 10px;
  grid-template-rows: auto;
  grid-template-areas: ". iconButton toggleText . upText upButton .";
  align-items: center;

  text-align: right;

  .icon-button {
    grid-area: iconButton;
  }

  .up-button {
    grid-area: upButton;
  }

  .upText {
    grid-area: upText;
    text-align: right;
  }

  .toggleText {
    grid-area: toggleText;
    text-align: left;
  }

  button {
    border: none;
    outline: none;
    color: grey;
    background-color: rgb(217, 221, 223);
    padding: 0;
  }

  button:hover {
    cursor: pointer;
    color: rgb(0, 143, 213);
  }
}

@media screen and (max-width: 960px) {
  footer {
    .icon-button,
    .toggleText {
      display: none;
    }
  }
}
