#hmi {
    color: white;
    margin: 125px auto;
    height: 593px;
    width: 1082px;
    background-image: url("https://images.ctfassets.net/pntshaoi0gaf/qkcf5luMYSIqEMS6c2q46/dc2c47e1106b98dc95554d5fb2cb1c30/HMI.PNG");

    h1 {
      position: relative;
      top: 40px;
      font-size: 30px;
      color: white;
    }

    .selection a {
        color: white;
    }

    .hmi-wrapper {
      position: relative;
      top: 40px;
      left: 140px;
      color: white;

      width: 850px;
      height: 400px;
      overflow-y: scroll;

    .overlay {
        background: transparent;
    }

     .modal {
        width: 400px;
        max-height: 460px;
        top: 35%;

        .modal--content p {
            font-size: 0.9rem;
        }
    }

      article, .article {
        margin: 30px 20px;
        width: 800px;

        h2 {
          margin-top: 30px;
          font-size: 24px;
        }

        p {
          font-size: 17px;
        }
      }
    }
    @media screen and (max-width: 1250px) {
        display: none;
    }
  }