#imprint {
  grid-area: content;

  display: flex;
  flex-direction: column;
  font-size: 14px;

  .header {
    flex: 1;
    padding: 40px 0;
    text-align: center;
    color: white;
    background-color: rgb(0, 143, 213);

    h1 {
      font-family: "VW Headline OT Black", "Arial", sans-serif;
      font-size: 32px;
    }
  }

  /* content */
  .content {
    flex: 1;

    margin-bottom: 30px;
  }

  .intro {
    width: 50%;
    margin: 0 auto 10px auto;

    h1 {
      font-family: "VW Headline OT", "Arial", sans-serif;
      font-size: 28px;
      margin-bottom: 10px;
    }

    p {
      font-size: 14px;
    }
  }

  #hmi {
    margin: 125px auto;
    height: 593px;
    width: 1082px;
    background-image: url("https://images.ctfassets.net/pntshaoi0gaf/qkcf5luMYSIqEMS6c2q46/dc2c47e1106b98dc95554d5fb2cb1c30/HMI.PNG");

    h1 {
      position: relative;
      top: 40px;
      left: 160px;
      font-size: 30px;
      color: white;
    }

    div {
      position: relative;
      top: 40px;
      left: 140px;
      color: white;

      width: 850px;
      height: 400px;
      overflow-y: scroll;

      article {
        margin: 30px 20px;
        width: 800px;

        h2 {
          margin-top: 30px;
          font-size: 24px;
        }

        p {
          margin: 0;
          font-size: 17px;
        }
      }
    }
  }

  /* Sections - Block Elements */
  .block {
    width: 50%;
    margin: 25px auto 0 auto;

    h2 {
      font-family: "VW Headline OT", "Arial", sans-serif;
      font-size: 15px;
      margin-top: 40px;
      margin-bottom: 5px;
      line-height: 0.5;
    }

    p {
      font-size: 14px;
      margin: 0;
    }
  }
}

@media screen and (max-width: 1250px) {
  #hmi {
    display: none;
  }
}

@media screen and (max-width: 960px) {
  #imprint {
    .block,
    .intro {
      width: 80%;
      margin: 25px auto 0 auto;
    }

    .intro {
      h1 {
        font-size: 25px;
      }
    }
  }
}
