#app {
  display: grid;
  grid-template-columns: 100px auto;
  grid-template-rows: auto;
  grid-template-areas: "sidebar content";

  Switch {
    .content {
      grid-area: content;
    }
  }
}

@media screen and (max-width: 960px) {
  #app {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: auto;
    grid-template-areas: "navigation" "content";

    Switch {
      .content {
        grid-area: content;
      }
    }
  }
}
