#home {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header header"
    ". imprint faq .";

  color: rgb(42, 47, 49);

  .header {
    grid-area: header;

    text-align: center;

    h1 {
      font-family: "VW Headline OT Black", "Arial", sans-serif;
      font-size: 50px;
      margin: 100px 0;
    }
  }

  .imprint {
    grid-area: imprint;
    text-align: center;

    h1 {
      font-family: "VW Headline OT", "Arial", sans-serif;
      font-size: 35px;
      color: rgb(42, 47, 49);
    }

    img {
      display: block;
      width: 150px;
      margin: 30px auto 50px auto;
      border-radius: 50%;
    }

    img:hover {
      -webkit-box-shadow: 0px 0px 10px 2px #000000;
      box-shadow: 0px 0px 10px 2px rgb(42, 47, 49);
    }
  }

  .faq {
    grid-area: faq;
    text-align: center;

    h1 {
      font-family: "VW Headline OT", "Arial", sans-serif;
      font-size: 35px;
      color: rgb(42, 47, 49);
    }

    img {
      display: block;
      width: 150px;
      margin: 30px auto 50px auto;
      border-radius: 50%;
    }

    img:hover {
      -webkit-box-shadow: 0px 0px 10px 2px #000000;
      box-shadow: 0px 0px 10px 2px rgb(42, 47, 49);
    }
  }
}
